/* Stile dell'header */
.header {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra il contenuto orizzontalmente */
    padding: 15px 30px;
    backdrop-filter: blur(8px); /* Effetto blur leggero */
    background-color: rgba(255, 255, 255, 0.6); /* Trasparenza */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Stile del logo */
.logo {
    height: 50px;
    width: auto;
    position: absolute;
    left: 30px; /* Distanza dal bordo sinistro */
}

/* Stile del testo nell'header */
.header-text {
    text-align: center;
}

.header-text h1 {
    font-size: 25px;
    margin: 0;
    font-weight: bold;
    color: #333;
}

.header-text p {
    font-size: 12px;
    margin: 0;
    color: #666;
}




.logo-title {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Mantiene il logo a sinistra */
}

.logo-image {
    max-width: 170px; /* Dimensione massima del logo */
    height: auto;
    margin-right: 15px; /* Spazio tra il logo e il titolo */
}

.site-title {
    font-size: 1.8rem; /* Regola la dimensione del titolo per renderlo ben visibile */
    color: #2c3e50;
    margin: 0 auto; /* Utilizza margini automatici per centrare il titolo */
    text-align: center; /* Allinea il testo del titolo al centro */
    flex: 1; /* Fa sì che il titolo occupi lo spazio disponibile per centrarlo */
      font-family: 'Poppins', sans-serif; /* Cambia font in Poppins */
    font-weight: 400; /* Imposta il peso Regular 400 per il titolo */
}

.home-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}


/* Sfondo dell'intera pagina */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: rgb(255, 255, 255) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 35px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
}


.wrapper {
    padding-top: 80px; /* Stessa altezza dell'header */
    padding-bottom: 0px;
    max-width: 1100px;
    width: 90%;
    position: relative;

}

/* pulsanti laterali di navigazione */
.wrapper i {
    display: none;
    height: 50px;
    width: 50px;
    background: rgb(243, 229, 247);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25 rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);

}

.wrapper i:first-child {
    left: -32px;
}

.wrapper i:last-child {
    right: -32px;
}

/* Carosello */
.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel .card {
    scroll-snap-align: start;
    height: 370px;
    list-style: none;
    background: linear-gradient(to bottom, rgb(129, 160, 80), rgb(110, 136, 65));
    backdrop-filter: blur(1.5px);
    border: 1px solid hwb(0 100% 0%);
    border-radius: 40px;
    display: flex;
    cursor: pointer;
    width: 98%;
    padding: 1px; /* Aggiungi padding su tutti i lati */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease, box-shadow 0.3s ease;
}

.card span {
    display: block; /* Assicura che il sottotitolo occupi tutta la larghezza */
    text-align: center; /* Allinea il testo al centro */
    margin-top: 0px; /* Aggiungi margine se necessario */
}


/* Stile della card espansa */
.carousel .card.expanded {
    width: 98%; /* Occupa tutta la larghezza disponibile */
    height: 520px; /* Altezza aumentata */

}


/* Stile per il testo "Scopri di più" */
.discover-more {
    display: block; /* Mostra il testo di default */
    font-size: 14px;
    color: #ffffffdb;
    text-align: center;
    margin-top: 70px;
}

/* Stile per l'icona a freccia */
.arrow-icon {
    display: block; /* Assicura che l'icona occupi l'intera riga */
    margin: 0 auto; /* Centra l'icona orizzontalmente */
    width: 11px;
    height: auto;
    margin-top: 4px;
}

/* Stile della lista prodotti */
.product-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;
    text-align: center;
}

.product-list li {
    font-size: 14px;
    color: #ffffff;
    margin: 5px 0;
}

/* Stile per il pulsante Prenota Ora */
.booking-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.booking-button img {
    width: 60%; /* Imposta la larghezza dell'immagine */
    height: auto;
}

.booking-button span {
    position: absolute;
    color: white;
    font-size: 16px;
    text-align: center;
}



/* Nasconde il testo quando la card è espansa */
.card.expanded .discover-more {
    display: none;
}
.card.expanded .arrow-icon {
    display: none;
}


/* Anello immagine*/
.card .img {
    background: rgb(83, 73, 83);
    width: 145px;
    height: 145px;
    border-radius: 50%;
}

.card .img img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #e0f6da;
    transition: width 0.3s ease, height 0.3s ease;
}

.card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
    color: #272727;
}

.card span {
    color: #ffffff;
    font-size: 16px;

}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);

    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;

    }
}

/* pallini slider */
.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.3s ease;
}

.dot.active {
    width: 20px; /* Aumenta la larghezza per creare una linea */
    height: 10px; /* Riduci l'altezza per farlo apparire come una linea */
    background-color: #333;
    border-radius: 7px; /* Angoli più arrotondati per sembrare una linea */
}

.body-text {
    font-size: 13px;
    font-family: inherit; /* Usa il font del resto della pagina */
    text-align: center;
    max-width: 90%;
    margin: 0 auto; /* Centra orizzontalmente */
    padding: 35px 0; /* Spazio sopra e sotto il testo */
    color: #333;
}

/* Nasconde il testo quando la card è espansa */
.hidden {
    display: none;
}


/* Stile del FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra il contenuto orizzontalmente */
    padding: 15px 30px;
    backdrop-filter: blur(0px); /* Effetto blur leggero */
    background-color: rgba(255, 255, 255, 0); /* Trasparenza */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Leggera ombra */
}

.copyright {
font-size: 10px;
}   

.language-selector-footer {
    font-size: 12px;
    }   

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}